#start {
  padding: 120px 0 180px;

  &::after {
    @apply absolute pin-l pin-b;
    width: 75%;
    height: 90px;
    background-color: #fff;
    content: '';
  }

  .container {
    min-height: calc(100vh - 300px);

    &::after {
      position: absolute;
      left: 10px;
      height: 120px;
      width: 1px;
      background: linear-gradient(to bottom, #fff 0%, #fff 50%, #262626 50%, #262626 50%);
      content: '';
      bottom: -150px;
    }
  }

  .section-background {
    left: 20%;
    @apply bg-left-bottom;

    @screen sm {
      left: 40%;
    }
  }
}